.container>p::first-letter {
    font-size: 200%;
    font-weight: bold;
    color: #3C1D3D;
    text-shadow: 1px 1px #000;
    margin-right: .2ch;
    line-height: 1;
}

.citacao-bio {
    background-color: #D9E5E3;
    border: .5em solid #C2CCCA;
    padding: 1em;
    margin: 1em 2em;
    width: 30ch;
    box-sizing: border-box;
    transition: box-shadow 1s, transform 1s;
    transition-delay: 1s, 0s;
}

.citacao-bio::before {
    content: '"';
    position: absolute;
    font-size: 10em;
    color: #BBB;
    line-height: .8;
}

.citacao-bio>p {
    position: relative;
}

.citacao-bio:nth-last-of-type(even) {
    float: left;
    margin-left: 0;
}

.citacao-bio:nth-last-of-type(even):hover,
.citacao-bio:nth-last-of-type(even):focus {
    transform: scale(1.2) rotate(-5deg);
}

.citacao-bio:nth-last-of-type(odd) {
    float: right;
    margin-right: 0;
}

.citacao-bio:nth-last-of-type(odd):hover,
.citacao-bio:nth-last-of-type(odd):focus {
    transform: scale(1.2) rotate(5deg);
}

.citacao-bio:hover,
.citacao-bio:focus {
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, 0.8);
    transition-delay: 0s, 1s;
}

.habilidades th {
    font-weight: bold;
    background-color: #851944;
    color: white;
}

.habilidades thead th {
    background-color: #3C1D3D;
}

.habilidades td {
    background-color: #eee;
}

.habilidades th,
.habilidades td {
    padding: 1em;
}
.habilidades {
    border-collapse: separate;
    border-spacing: .25em;
    margin: 1em 0;
}

.habilidades [colspan] {
    text-align: center;
    font-style: italic;
}

.habilidades [rowspan] {
    vertical-align: middle;
}